/* BREAK PON */
/* PC */
@media(min-width: 64em){
    /* .pc{
        display: block;
    } */
 }
  /* Tablet and mobile */
@media(max-width: 64em){
    
  
   
    #nav .subnav a{
        
        padding: 5px 12px;
    }

    .btn{
        padding: 15px 16px;
    }

    .contact-form .form-control{
        padding: 15px;
        font-size: 16px;
    }

    .contact-info{
        line-height: 2;
    }
    .contact-form-btnmobile{
        font-size: 16px;
    }
    .footer .social{
        font-size:30px;
    }
    #footer .social a{
        margin: 0 8px ;
    }
   .copyright a{
        padding: 12px 0;
        display: inline-block;
    }
}

 /* Tablet */
 @media(min-width: 46.25em) and (max-width: 63.9375em){
     /* .tablet{
         display: block;
     } */
 }
 /* Mobie */
 @media (max-width: 46.1875em){
    #nav .subnav{
        position: initial;
        background-color: #333;
    } 
    #nav .subnav a{
        color: #fff;
        padding: 5px 40px;
    }
    #nav li a{
        padding: 1px 24px;
    }
    #header{
        overflow: hidden;
     }
    #nav{
        display: block;
    }   
    #nav > li {
        display:block;
    }
    #nav > li:first-child{
        display:inline-block;
    }
    .mobile-menu-btn{
        display: block;
    }
    .search-btn{
        display: none;
    }
  #content .member-item-mobile{
      margin-top: 30px;
      width: 100%;
  }
  #content .member-img{
      width: 60%;
      height: auto;
  }
 
  .s-col-full,
  .s-full-width{
    width: 100% !important;
  }
  .contact-info{
      margin-bottom: 32px;
   
  }
  .s-mt-8{
      margin-top: 8px !important;
  }

 }